
/* basic stuff to get the footer where it belongs. Idea taken from
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html and
 * http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/
*/
html, body {
    height: 100%;
}

#wrapper {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: [% site.layout.footer_height %];
}

#footer-wrapper {
	clear: both;
	position: relative;
	margin-top: -[% site.layout.footer_height %];
	height: [% site.layout.footer_height %];
    width: 100%;
    overflow: hidden;
}
/* END BASIC LAYOUT */

body {
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.col.line %];
}
.title a {
	text-decoration: none;
	color: inherit;
}
.title a:hover {
	text-decoration: underline;
}

#content {
    padding-left: 1ex;
    padding-right: 1ex;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

/* footer */
#footer {
    background-color: [% site.col.head %];
    width: 100%;
    border-top: 1px solid [% site.col.line %];
    padding-top: 4px;
    padding-bottom: 4px;
}
.copyright, .license, .github {
	width: 33%;
	display: inline-block;
	padding-left: 1ex;
	padding-right: 1ex;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.copyright { text-align: left   }
.license   { text-align: center }
.github    { text-align: right  }

/* a common table, someday... */
.simple-table {
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
}
.simple-table td, .simple-table th {
	border: 1px solid rgb(220,220,220);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}
.simple-table tbody tr:nth-child(2n+1) td {
	background: rgb(250,250,250);
}
.simple-table thead th, .simple-table thead td {
	background: rgb(245,245,255);
}
.simple-table tfoot th, .simple-table tfoot td {
	padding-top: 0.25em;
	border-top: 2px solid rgb(200,200,200);
	background: rgb(255,220,255);
}

/* some text styles */
.footnote-ish {
	margin-top: 4ex;
	border-top: 1px solid black;
	padding-top: 3px;
	width: 45em;
	font-style: italic;
	font-size: 90%;
}

/* document management */
.documents a { text-decoration: none; color: rgb(0,0,220); }
.documents a:hover { text-decoration: underline }
.documents .version + .version{ padding-left: 1em; }
