
/* basic stuff to get the footer where it belongs. Idea taken from
 * http://www.cssstickyfooter.com/using-sticky-footer-code.html and
 * http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/
*/
html, body {
    height: 100%;
}

#wrapper {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: [% site.layout.footer_height %];
}

#footer-wrapper {
	clear: both;
	position: relative;
	margin-top: -[% site.layout.footer_height %];
	height: [% site.layout.footer_height %];
    width: 100%;
    overflow: hidden;
}

body {
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.col.line %];
}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    padding: 4px;
}

#content {
    padding-left: 1ex;
    padding-right: 1ex;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}
